@import './components/Header/Header.css';
@import './components/Hero/Hero.css';
@import './components/AllProducts/AllProducts.css';
@import './components/LoginModal/LoginModal.css';
@import './components/SignUpModal/SignUpModal.css';
@import './components/About/About.css';
@import './components/Product58/HR58Section.css';
@import './components/Footer/Footer.css';
@import './components/pages/Policy.css';
@import './components/pages/Faq/Faq.css';
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


* {
    transition: color 0.15s ease-in-out background-color 0.15s ease-in-out;
}

h1 {
    margin: 0;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
*{
    box-sizing: border-box;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}